*.d
*.o
*.ko
*.iml
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.dSYM/
*.su
*.idb
*.pdb
*.mod*
*.cmd

CMakeCache.txt
CTestTestfile.cmake
CMakeLists.txt.user
cmake_install.cmake
install_manifest.txt
compile_commands.json
modules.order
Module.symvers
Mkfile.old
dkms.conf

.vs
out
_deps
.idea
build
target
Testing
CMakeFiles
CMakeScripts
.tmp_versions
release/vendor
cmake-build-debug
cmake-build-debug-coverage
